* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

.theTitles, #musicPlayer, #searchForm, .container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    justify-content: center;
}

#searchField {
    width: 50%;
}